parameters:
	repository: /Users/kawashimatoshi/git/nazonohito51/sandbox
services:
	-
		class: Sandbox\PHPStan\Git\Repository
		arguments:
			repository: %repository%
rules:
	- Sandbox\PHPStan\Rules\ReturnTypeDeclarationsInNewClass
